!!! 5
%html
%head
  %meta{:charset => "utf-8"}
  %title Bootstrap, from Twitter
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %meta{:name => "description", :content => ""}
  %meta{:name => "Maciej Lorens", :content => ""}

  = stylesheet_link_tag "application", :media => "all"
  = stylesheet_link_tag 'bootstrap'
  = stylesheet_link_tag 'bootstrap-responsive'

  = javascript_include_tag "application"

%body{:class => "#{controller.controller_name}"}
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Crazy projects", root_path, :class => "brand"
        .nav-collapse.collapse
          %ul.nav
            %li.active
              = link_to "Home", home_path
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li.nav-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link
          - if user_signed_in?
            = link_to "My profile", users_path(current_user), :class => "btn pull-right"
            = link_to "Sign out", destroy_user_session_path, :method => "delete", :class => "btn pull-right"
          - else
            = link_to "Sign up", new_user_registration_path, :class => "btn pull-right"
            = form_for("user", :url => user_session_path, :html => {:class => "navbar-form pull-right"}) do |f|
              = f.text_field :email, :class => "span2"
              = f.password_field :password, :class => "span2"
              = f.submit "Sign in", :class => "btn"

  .container
    = yield
